@page
@using Microsoft.AspNetCore.Mvc.Localization
@using JS.Abp.RulesEngine.Localization
@using JS.Abp.RulesEngine.Web.Pages.RulesEngine.Rules
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using JS.Abp.RulesEngine.Rules;
@using System.Globalization
@inject IHtmlLocalizer<RulesEngineResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/RulesEngine/Rules/EditModal" autocomplete="off">
    <abp-modal id="RuleEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>

                    <abp-input asp-for="Id" />
                    <abp-input asp-for="Rule.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    

            <abp-input asp-for="Rule.RuleCode"   />


            <abp-input asp-for="Rule.SuccessEvent"   />


            <abp-input asp-for="Rule.ErrorMessage"   />


            <abp-select asp-for="Rule.ErrorType"   />


            <abp-select asp-for="Rule.RuleExpressionType"   />


            <abp-input asp-for="Rule.Expression" text-area  />


            <abp-input asp-for="Rule.Description" text-area  />

                    
                


        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">

        </abp-modal-footer>
    </abp-modal>
</form>
