@page
@using Microsoft.Extensions.Localization
@using JS.Abp.RulesEngine.Localization
@using JS.Abp.RulesEngine.Web.Pages.RulesEngine
@model JS.Abp.RulesEngine.Web.Pages.RulesEngine.IndexModel
@inject IStringLocalizer<RulesEngineResource> L

@{
}
<h1>RulesEngine</h1>
<p>@L["SamplePageMessage"]</p>
