@page "/RulesEngine"
@using Microsoft.Extensions.Localization
@using global::JS.Abp.RulesEngine.Localization
@inject IStringLocalizer<RulesEngineResource> L
@{
}
<h1>RulesEngine</h1>
<p>@L["SamplePageMessage"]</p>